/* ===== Google Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* ===== Common ===== */
body {
    font-family: "Poppins", sans-serif;
}

/* ===== Login ===== */
.login-box {
    max-width: 30rem;
}

#show-key {
    cursor: pointer;
}

/* ===== Spinner ===== */
#spinner {
    min-height: calc(100vh - 6rem);
}

/* ===== Email ===== */
#email-address {
    cursor: copy;
}

.email-box {
    grid-template-columns: minmax(0, 20rem) auto;
}

.email-box .start, .email-box .end .card {
    height: calc(100vh - 10rem);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.email-box .start::-webkit-scrollbar, .email-box .end .card::-webkit-scrollbar {
    display: none;
}

.email-box .start {
    top: 0;
    left: -100vw;
    width: 0;
    opacity: 0;
}

.email-box .active-sidebar {
    left: 0;
    width: 100%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.email-box .active-email {
    color: #fff;
    background-color: rgba(0, 98, 102, 0.75);
}

.email-box .email-selection-img {
    max-width: 20rem;
}

/* ===== Media Query ===== */
@media screen and (min-width: 992px) {
    /* ===== Email ===== */
    .email-box .start {
        position: relative !important;
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    /* ===== Email ===== */
    #email .header div:last-child {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}